In [42]:
from definitions import data_source_path, corr_country_names, sign_level, fake_num, show_plots, \
    country_col, year_col, quarter_col, month_col, date_col, incl_countries, show_results
from helper_functions_general import read_data, select_country_year_measure, month_name_to_num, rename_order_scale, \
    downsample_month_to_quarter, quarter_to_month, upsample_quarter_to_month, get_timeframe_col, get_trans, \
    get_data_path, interpolate_series, get_table_path, get_impl_date

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

from scipy.stats import ttest_1samp, shapiro

In [25]:
timeframe = 'm'
model = 'sc'

In [26]:
treatment_country = 'france'

# act_pred_log_diff

In [27]:
# var_title = 'act_pred_log_diff'

# tables_path_res = get_table_path(timeframe=timeframe, folder='results', country=treatment_country)
# var_name = f'{model}_{treatment_country}_{timeframe}_{var_title}'

# act_pred_log_diff = read_data(source_path=tables_path_res, file_name=var_name)
# act_pred_log_diff = act_pred_log_diff.set_index(date_col)
# act_pred_log_diff

# act_pred_log_diff_pre = act_pred_log_diff[act_pred_log_diff.index < get_impl_date(treatment_country=treatment_country)]
# act_pred_log_diff_pre

# act_pred_log_diff_post = act_pred_log_diff[act_pred_log_diff.index >= get_impl_date(treatment_country=treatment_country)]
# act_pred_log_diff_post

# # plt.plot(act_pred_log_diff[['act', 'pred']])
# # plt.plot(act_pred_log_diff['error'])

In [28]:
# # pre
# print('pre-treatment data')
# df_pre = act_pred_log_diff_pre

# print(f"mean: {df_pre['error'].mean()}")
# print(f"std:  {df_pre['error'].std()}")

# shap = shapiro(df_pre['error'])
# if shap[1] > sign_level:
#     print(f'Errors are normally distributed (p-value={round(shap[1],3)})')
# else:
#     print(f'Errors NOT normally distributed (p-value={round(shap[1],3)})')

# ttest_res = ttest_1samp(df_pre['error'], popmean=0)
# if ttest_res[1] < sign_level:
#     print(f'Significant (p-value={round(ttest_res[1],3)})')
# else:
#     print(f'NOT significant (p-value={round(ttest_res[1],3)})')

In [29]:
# # post
# df_post = act_pred_log_diff_post
# print('post-treatment data')

# print(f"mean: {df_post['error'].mean()}")
# print(f"std:  {df_post['error'].std()}")
# print(f"sum: {df_post['error'].sum()}")

# ttest_res = ttest_1samp(df_post['error'], popmean=0)
# if ttest_res[1] < sign_level:
#     print(f'Significant (p-value={round(ttest_res[1],3)})')
# else:
#     print(f'NOT significant (p-value={round(ttest_res[1],3)})')

# act_pred

In [30]:
var_title = 'act_pred'

tables_path_res = get_table_path(timeframe=timeframe, folder='results', country=treatment_country)
var_name = f'{model}_{treatment_country}_{timeframe}_{var_title}'

act_pred = read_data(source_path=tables_path_res, file_name=var_name)
act_pred = act_pred.set_index(date_col)
act_pred

act_pred_pre = act_pred[act_pred.index < get_impl_date(treatment_country=treatment_country)]
act_pred_pre

act_pred_post = act_pred[act_pred.index >= get_impl_date(treatment_country=treatment_country)]
act_pred_post

# plt.plot(act_pred[['act', 'pred']])
# plt.plot(act_pred['error'].cumsum())

                     act          pred         error
date
2014-01-01  4.127932e+10  4.210260e+10  8.232831e+08
2014-02-01  3.927149e+10  3.882081e+10 -4.506771e+08
2014-03-01  3.958142e+10  3.793239e+10 -1.649031e+09
2014-04-01  3.252053e+10  3.259906e+10  7.852491e+07
2014-05-01  2.964769e+10  2.971494e+10  6.725073e+07
...                  ...           ...           ...
2019-06-01  2.726414e+10  2.569015e+10 -1.573995e+09
2019-07-01  2.723795e+10  2.550678e+10 -1.731173e+09
2019-08-01  2.623962e+10  2.511939e+10 -1.120233e+09
2019-09-01  2.759971e+10  2.737562e+10 -2.240910e+08
2019-10-01  3.137777e+10  3.116522e+10 -2.125470e+08

[70 rows x 3 columns]

In [31]:
# pre
print('pre-treatment data')
df_pre = act_pred

print(f"mean: {df_pre['error'].mean()}")
print(f"std:  {df_pre['error'].std()}")

shap = shapiro(df_pre['error'])
if shap[1] > sign_level:
    print(f'Errors are normally distributed (p-value={round(shap[1],3)})')
else:
    print(f'Errors NOT normally distributed (p-value={round(shap[1],3)})')


ttest_res = ttest_1samp(df_pre['error'], popmean=0)
if ttest_res[1] < sign_level:
    print(f'Significant (p-value={round(ttest_res[1],3)})')
else:
    print(f'NOT significant (p-value={round(ttest_res[1],3)})')

pre-treatment data
mean: -350532723.12644756
std:  1714583815.4652672
Errors are normally distributed (p-value=0.126)
Significant (p-value=0.002)

In [32]:
# post
df_post = act_pred_post
print('post-treatment data')

print(f"sum: {df_post['error'].sum()}")
print(f"mean: {df_post['error'].mean()}")
print(f"std:  {df_post['error'].std()}")

ttest_res = ttest_1samp(df_post['error'], popmean=0)
if ttest_res[1] < sign_level:
    print(f'Significant (p-value={round(ttest_res[1],3)})')
else:
    print(f'NOT significant (p-value={round(ttest_res[1],3)})')

post-treatment data
sum: -8995646865.45399
mean: -128509240.93505701
std:  1389983676.7757332
NOT significant (p-value=0.442)

# Transform act_pred to act_pred_log_diff

In [50]:
act_pred_log_diff = act_pred.copy()

act_pred_log_diff['act'] = np.log(act_pred_log_diff['act']).diff(12)
act_pred_log_diff['pred'] = np.log(act_pred_log_diff['pred']).diff(12)
act_pred_log_diff['error'] = act_pred_log_diff['pred'] - act_pred_log_diff['act']
act_pred_log_diff

# act_pred_log_diff['act'].cumsum().plot(figsize=(10,4))
# act_pred_log_diff['pred'].cumsum().plot(figsize=(10,4))

                 act      pred     error
date
2000-01-01       NaN       NaN       NaN
2000-02-01       NaN       NaN       NaN
2000-03-01       NaN       NaN       NaN
2000-04-01       NaN       NaN       NaN
2000-05-01       NaN       NaN       NaN
...              ...       ...       ...
2019-06-01 -0.012004 -0.043366 -0.031363
2019-07-01 -0.015659 -0.050581 -0.034922
2019-08-01 -0.004483 -0.048241 -0.043758
2019-09-01 -0.013584 -0.044275 -0.030691
2019-10-01 -0.015107 -0.040829 -0.025723

[238 rows x 3 columns]

In [45]:
var_title = 'act_pred_log_diff'

tables_path_res = get_table_path(timeframe=timeframe, folder='results', country=treatment_country)
var_name = f'{model}_{treatment_country}_{timeframe}_{var_title}'

act_pred_log_diff = read_data(source_path=tables_path_res, file_name=var_name)
act_pred_log_diff = act_pred_log_diff.set_index(date_col)
act_pred_log_diff

act_pred_log_diff_pre = act_pred_log_diff[act_pred_log_diff.index < get_impl_date(treatment_country=treatment_country)]
act_pred_log_diff_pre

act_pred_log_diff_post = act_pred_log_diff[act_pred_log_diff.index >= get_impl_date(treatment_country=treatment_country)]
act_pred_log_diff_post

# plt.plot(act_pred_log_diff[['act', 'pred']])
# plt.plot(act_pred_log_diff['error'])

                 act      pred     error
date
2014-01-01 -0.108072 -0.102944  0.005128
2014-02-01 -0.154661 -0.094722  0.059939
2014-03-01 -0.110022 -0.158804 -0.048782
2014-04-01 -0.117639 -0.045247  0.072392
2014-05-01 -0.124124  0.000464  0.124588
...              ...       ...       ...
2019-06-01 -0.012004 -0.018784 -0.006780
2019-07-01 -0.015659 -0.016078 -0.000419
2019-08-01 -0.004483 -0.020772 -0.016289
2019-09-01 -0.013584 -0.004103  0.009482
2019-10-01 -0.015107 -0.011980  0.003126

[70 rows x 3 columns]

In [48]:
# pre
print('pre-treatment data')
df_pre = act_pred_log_diff_pre

print(f"mean: {df_pre['error'].mean()}")
print(f"std:  {df_pre['error'].std()}")

shap = shapiro(df_pre['error'])
if shap[1] > sign_level:
    print(f'Errors are normally distributed (p-value={round(shap[1],3)})')
else:
    print(f'Errors NOT normally distributed (p-value={round(shap[1],3)})')

ttest_res = ttest_1samp(df_pre['error'], popmean=0)
if ttest_res[1] < sign_level:
    print(f'Significant (p-value={round(ttest_res[1],3)})')
else:
    print(f'NOT significant (p-value={round(ttest_res[1],3)})')

pre-treatment data
mean: -0.0007944274314014444
std:  0.050511717091358696
Errors NOT normally distributed (p-value=0.083)
NOT significant (p-value=0.851)

In [49]:
# post
df_post = act_pred_log_diff_post
print('post-treatment data')

print(f"mean: {df_post['error'].mean()}")
print(f"std:  {df_post['error'].std()}")
print(f"sum: {df_post['error'].sum()}")

ttest_res = ttest_1samp(df_post['error'], popmean=0)
if ttest_res[1] < sign_level:
    print(f'Significant (p-value={round(ttest_res[1],3)})')
else:
    print(f'NOT significant (p-value={round(ttest_res[1],3)})')

post-treatment data
mean: 0.013897338453599436
std:  0.04952193408976288
sum: 0.9728136917519609
Significant (p-value=0.022)