In [1]:
from definitions import data_source_path, corr_country_names, sign_level, fake_num, show_plots, \
    country_col, year_col, quarter_col, month_col, date_col, incl_countries, show_results
from helper_functions_general import read_data, select_country_year_measure, month_name_to_num, rename_order_scale, \
    downsample_month_to_quarter, quarter_to_month, upsample_quarter_to_month, get_timeframe_col, get_trans, \
    get_data_path, interpolate_series, get_table_path, get_impl_date

import matplotlib.pyplot as plt
import pandas as pd

from scipy.stats import ttest_1samp, shapiro

In [2]:
timeframe = 'm'
model = 'sc'

In [7]:
target_country = 'portugal'

# act_pred_log_diff

In [8]:
var_title = 'act_pred_log_diff'

tables_path_res = get_table_path(timeframe=timeframe, folder='results', country=target_country)
var_name = f'{model}_{target_country}_{timeframe}_{var_title}'

act_pred_log_diff = read_data(source_path=tables_path_res, file_name=var_name)
act_pred_log_diff = act_pred_log_diff.set_index(date_col)
act_pred_log_diff

act_pred_log_diff_pre = act_pred_log_diff[act_pred_log_diff.index < get_impl_date(target_country=target_country)]
act_pred_log_diff_pre

act_pred_log_diff_post = act_pred_log_diff[act_pred_log_diff.index >= get_impl_date(target_country=target_country)]
act_pred_log_diff_post

# plt.plot(act_pred_log_diff[['act', 'pred']])
# plt.plot(act_pred_log_diff['error'])

                 act      pred     error
date
2015-01-01  0.149161  0.006454 -0.142707
2015-02-01  0.128294  0.008277 -0.120017
2015-03-01  0.050892 -0.017029 -0.067920
2015-04-01  0.114095  0.016277 -0.097819
2015-05-01  0.001809  0.018875  0.017066
2015-06-01  0.065981  0.004921 -0.061059
2015-07-01  0.060651  0.016278 -0.044372
2015-08-01  0.043263  0.005968 -0.037295
2015-09-01  0.030482  0.025652 -0.004830
2015-10-01  0.084650  0.021247 -0.063403
2015-11-01  0.027669 -0.003998 -0.031667
2015-12-01 -0.062241 -0.039920  0.022321
2016-01-01 -0.143304 -0.019197  0.124108
2016-02-01 -0.091729  0.033553  0.125281
2016-03-01  0.010351  0.025942  0.015591
2016-04-01 -0.071701  0.036129  0.107830
2016-05-01 -0.048704 -0.016188  0.032516
2016-06-01 -0.067919  0.003198  0.071117
2016-07-01  0.030555 -0.013311 -0.043866
2016-08-01  0.054441 -0.014789 -0.069230
2016-09-01  0.032820 -0.031393 -0.064214
2016-10-01 -0.018091 -0.011205  0.006886
2016-11-01  0.055578  0.020414 -0.035164
2016-12-01  0.086653  0.014303 -0.072350
2017-01-01  0.211462 -0.015383 -0.226845
2017-02-01  0.098298 -0.060399 -0.158697
2017-03-01  0.052069 -0.036854 -0.088923
2017-04-01  0.094581 -0.045207 -0.139788
2017-05-01  0.163719 -0.017569 -0.181288
2017-06-01  0.117184 -0.001118 -0.118302
2017-07-01  0.032849  0.002458 -0.030391
2017-08-01  0.062309 -0.002859 -0.065168
2017-09-01  0.003010 -0.001152 -0.004162
2017-10-01 -0.000865 -0.021272 -0.020407
2017-11-01  0.013532 -0.006817 -0.020348
2017-12-01 -0.009508  0.040767  0.050275
2018-01-01 -0.049299  0.003658  0.052956
2018-02-01 -0.048017  0.006691  0.054708
2018-03-01 -0.049478  0.004167  0.053645
2018-04-01 -0.056612 -0.007215  0.049396
2018-05-01 -0.063202 -0.012933  0.050268
2018-06-01 -0.065761 -0.009294  0.056467
2018-07-01 -0.069262 -0.009917  0.059345
2018-08-01 -0.071175 -0.002680  0.068495
2018-09-01 -0.066509 -0.006276  0.060233
2018-10-01 -0.061865 -0.005177  0.056688
2018-11-01 -0.054736 -0.006619  0.048117
2018-12-01 -0.046826 -0.002745  0.044082
2019-01-01 -0.054713 -0.003083  0.051629
2019-02-01 -0.047031 -0.008583  0.038448
2019-03-01 -0.048777 -0.011129  0.037648
2019-04-01 -0.055810 -0.007481  0.048329
2019-05-01 -0.067570 -0.001735  0.065835
2019-06-01 -0.072520 -0.009712  0.062808
2019-07-01 -0.080417 -0.003493  0.076924
2019-08-01 -0.085468 -0.009111  0.076357
2019-09-01 -0.075066 -0.003224  0.071842
2019-10-01 -0.064327 -0.008110  0.056217

In [9]:
# pre
print('pre-treatment data')
df_pre = act_pred_log_diff_pre

print(f"mean: {df_pre['error'].mean()}")
print(f"std:  {df_pre['error'].std()}")

shap = shapiro(df_pre['error'])
if shap[1] > sign_level:
    print(f'Errors are normally distributed (p-value={round(shap[1],3)})')
else:
    print(f'Errors NOT normally distributed (p-value={round(shap[1],3)})')

ttest_res = ttest_1samp(df_pre['error'], popmean=0)
if ttest_res[1] < sign_level:
    print(f'Significant (p-value={round(ttest_res[1],3)})')
else:
    print(f'NOT significant (p-value={round(ttest_res[1],3)})')

pre-treatment data
mean: 0.015405947655621373
std:  0.09963740966309015
Errors NOT normally distributed (p-value=0.056)
Significant (p-value=0.055)

In [10]:
# post
df_post = act_pred_log_diff_post
print('post-treatment data')

print(f"mean: {df_post['error'].mean()}")
print(f"std:  {df_post['error'].std()}")
print(f"sum: {df_post['error'].sum()}")

ttest_res = ttest_1samp(df_post['error'], popmean=0)
if ttest_res[1] < sign_level:
    print(f'Significant (p-value={round(ttest_res[1],3)})')
else:
    print(f'NOT significant (p-value={round(ttest_res[1],3)})')

post-treatment data
sum: -0.1968025211061335
mean: -0.0033931469156229903
std:  0.07942071032523641
NOT significant (p-value=0.746)

# act_pred

In [28]:
var_title = 'act_pred'

tables_path_res = get_table_path(timeframe=timeframe, folder='results', country=target_country)
var_name = f'{model}_{target_country}_{timeframe}_{var_title}'

act_pred = read_data(source_path=tables_path_res, file_name=var_name)
act_pred = act_pred.set_index(date_col)
act_pred

act_pred_pre = act_pred[act_pred.index < get_impl_date(target_country=target_country)]
act_pred_pre

act_pred_post = act_pred[act_pred.index >= get_impl_date(target_country=target_country)]
act_pred_post

# plt.plot(act_pred_log_diff[['act', 'pred']])
# plt.plot(act_pred_log_diff['error'])

                     act          pred         error
date
2014-01-01  4.127932e+10  4.264745e+10 -1.368127e+09
2014-02-01  3.927149e+10  4.079147e+10 -1.519980e+09
2014-03-01  3.958142e+10  3.906602e+10  5.154079e+08
2014-04-01  3.252053e+10  3.378147e+10 -1.260936e+09
2014-05-01  2.964769e+10  3.233694e+10 -2.689250e+09
...                  ...           ...           ...
2019-06-01  2.726414e+10  2.848050e+10 -1.216358e+09
2019-07-01  2.723795e+10  2.805785e+10 -8.198998e+08
2019-08-01  2.623962e+10  2.760461e+10 -1.364987e+09
2019-09-01  2.759971e+10  2.878718e+10 -1.187465e+09
2019-10-01  3.137777e+10  3.332479e+10 -1.947014e+09

[70 rows x 3 columns]

In [29]:
# pre
print('pre-treatment data')
df_pre = act_pred_log_diff_pre

print(f"mean: {df_pre['error'].mean()}")
print(f"std:  {df_pre['error'].std()}")

shap = shapiro(df_pre['error'])
if shap[1] > sign_level:
    print(f'Errors are normally distributed (p-value={round(shap[1],3)})')
else:
    print(f'Errors NOT normally distributed (p-value={round(shap[1],3)})')


ttest_res = ttest_1samp(df_pre['error'], popmean=0)
if ttest_res[1] < sign_level:
    print(f'Significant (p-value={round(ttest_res[1],3)})')
else:
    print(f'NOT significant (p-value={round(ttest_res[1],3)})')

pre-treatment data
mean: -0.0007944274314014444
std:  0.050511717091358696
Errors NOT normally distributed (p-value=0.083)
NOT significant (p-value=0.851)

In [30]:
# post
df_post = act_pred_post
print('post-treatment data')

print(f"sum: {df_post['error'].sum()}")
print(f"mean: {df_post['error'].mean()}")
print(f"std:  {df_post['error'].std()}")

ttest_res = ttest_1samp(df_post['error'], popmean=0)
if ttest_res[1] < sign_level:
    print(f'Significant (p-value={round(ttest_res[1],3)})')
else:
    print(f'NOT significant (p-value={round(ttest_res[1],3)})')

post-treatment data
sum: -132052335822.75134
mean: -1886461940.3250191
std:  1644242888.579198
Significant (p-value=0.0)

In [11]:
act_pred_post['error'].sum()

1326720914.030089